name: deploy
on:
  push:
    branches:
      - 'main'
jobs:
  deploy:
    name: deploy to cluster
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Docker Login
      uses: docker/login-action@v2.1.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }} 
    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v2.5.0
    - name: Build and push Docker images
      uses: docker/build-push-action@v4.0.0
      with:
        push: true
        tags: juanjoserestrepo/example-react-docker-nodejs:latest

